<p id="notice"><%= notice %></p>

<h1>Skills</h1>
<hr />

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th colspan="1"></th>
    </tr>
  </thead>
  <tbody>
    <% @skills.each do |skill| %>
      <tr>
        <td><%= skill.name %></td>
        <td><%= link_to 'Show', skill %></td>
      </tr>
    <% end %>
    </tbody>
  </tbody>
</table>

<br>

<%= link_to 'New Skill', new_skill_path, class: 'btn btn-primary' %>
