
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>You have been invited to the following event.</h3>
    <hr />

    <p><b>Interview</b>: <%= "#{@interview.candidate.fname} #{@interview.candidate.lname} and #{@interview.recruiter.name}" %></p>

    <p><b>When</b>: <%= @interview.interview_date %> (Y/m/d h:mm)</p>

    <p><b>Where</b>: Zoom</p>

    <p><b>Event Name</b>: Video call</p>

    <p><b>Position: <strong><%= @interview.candidate.position.name %></strong>.</p>

    <p>
    Powered by <b>RecruitR</b><br>
    ----------
    </p>
  </body>
</html>