
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>You got a new order from <%=@interview.candidate_id %>!</p>
    <p>
    Order details<br>
    --------------------------
    </p>
    
      Name: <%=@interview.recruiter_id %>
      Email: <%= @interview.interview_date %>

    <p>
    Message:<br>
    ----------
    </p>
  </body>
</html>