// Place all the styles related to the positions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.apllicants-list {
  padding: 30px 40px;
  border: 1px solid silver;
}

.applicant-form {
  width: 400px;
  margin: 50px auto;
}